services:
  event-stream-filter:
    build: 
      dockerfile: Dockerfile.dev
    command:
      npm start
    ports:
      - 8300:8300
      - 8350:8350
    volumes:
      - .:/app/
      - /app/node_modules
    restart: always
    environment:
      - ENV_ID=dev
      - LOG_LEVEL=info